.button {
  width: 100%;
  height: 44px;

  border: none;
  border-radius: 12px;

  cursor: pointer;

  font-size: 14px;
  font-weight: 600;

  transition: 0.2s;
}

.primary {
  background: #2563EB;
  color: white;
}

.primary:hover {
  background: #1D4ED8;
}

.secondary {
  background: #334155;
  color: white;
}

.secondary:hover {
  background: #475569;
}

.danger {
  background: #EF4444;
  color: white;
}

.danger:hover {
  background: #DC2626;
}

.button:disabled {
  opacity: .5;
  cursor: not-allowed;
}