*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#111827;

}

html,
body,
#root {
  width: 360px;
  min-height: 600px;
  margin: 0;
  padding: 0;
  background: #0F172A;
  font-family: Inter, sans-serif;
}